<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <a href="/new">Add New Message</a>
      <h1><%= title %></h1>
    </header>
    <main>
      <ul>
        <% messages.forEach(message => { %>
          <li><%= message.user %> - <%= message.text %> (added <%= message.added %>)</li>
          <% }); %>
      </ul>
    </main>

  </body>
</html>
